#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined( AFX_RESOURCE_DLL ) || defined( AFX_TARG_RUS )
#ifdef _WIN32
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page( 1251 )
#endif //_WIN32
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION		0,0,0,5
PRODUCTVERSION	0,0,0,5
FILEFLAGSMASK	0x3fL
#ifdef _DEBUG
	FILEFLAGS	0x1L
#else
	FILEFLAGS	0x0L
#endif
FILEOS			0x0L
FILETYPE		0x1L
FILESUBTYPE		0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",		"megasoft"
			VALUE "FileDescription",	"megasoft"
			VALUE "FileVersion",		"0,0,0,5\0"
			VALUE "InternalName",		"vc-test.exe"
			VALUE "LegalCopyright",		"megasoft(c)"
			VALUE "OriginalFilename",	"vc-test.exe"
			VALUE "ProductName",		"vc-test"
			VALUE "ProductVersion",		"0,0,0,5\0"
		END
	END
END